body {
    background-color: #104e8b;
}

@media screen and (min-width: 675px) {
    body {
        background-color: #8b0a50;
    }
}

@media screen and (min-width: 999px) {
    body {
        background-color: #458b74;
    }
}

@media screen and (min-width: 1280px) {
    body {
        background-color: #6959cd;
    }
}